<% include ../partials/header %>

<% q.counter = 0 %>

<div class="jumbotron" id="title">
    <div class="container">
        <h1>Quiz</h1>
    </div>
</div>




<div class="container">
      
    <div class="Shape">
            <div class="currentTitle">
                <h2>Quiz: <strong><%= q.topic %></strong></h2>
 
            </div>
           
                <div class="question">
                   <%= "q.counter is " + q.counter %>
                    <% for(q.counter; q.counter < q.choices.length; q.counter++) {%>      
                        <% let testingCounter = q.counter; %>
                        <li>
                               <!-- How many amendments does the Constitution have? -->
                              
                               <% console.log("length is " + q.choices.length) %>

                                <%= q.choices[q.counter].question %>
                        </li>
   
                        <div class="line"></div>
                       
                            <li type="a" class="num"><%= q.choices[q.counter].choice1 %></li>
                            <li type="a" class="num"><%= q.choices[q.counter].choice2 %></li>
                            <li type="a" class="num"><%= q.choices[q.counter].choice3 %></li>
                            <li type="a" class="num"><%= q.choices[q.counter].choice4 %></li>
  
                        
                            <% break; %>
                        <% }%>
                   
                        <% console.log("q.counter " + q.counter); %>     

                        <% q.counter = q.counter + 1; %>
              
                        <% console.log("Again q.counter " + q.counter); %>     
            </div>

            <button class="toggleButton" value="Next">Next</button>
        
</div>

</div>

<% include ../partials/myfooter %>